/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 34, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 38, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 41, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 43, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* line 47, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through; }

/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 51, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 53, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 55, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle; }

/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small; }

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% sans-serif; }

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* line 15, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
body, select, input, textarea {
  color: #444444; }

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll; }

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
a, a:active, a:visited {
  color: #607890; }

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover {
  color: #003366; }

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em; }

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal; }

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
td, td img {
  vertical-align: top; }

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em; }

/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em; }

/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto; }

/* line 62, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none; }

/* line 67, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  padding: 15px; }

/* line 76, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom; }

/* line 77, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom; }

/* line 78, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

/* line 79, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom; }

/* line 84, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* line 89, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  margin: 0; }

/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none; }

/* line 97, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none; }

/* line 102, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99; }

/* line 113, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible; }

/* line 117, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* line 119, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* line 124, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

/* line 10, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat; }

/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden; }

/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1; }
  /* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

@media print {
  /* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  /* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group; }

  /* line 32, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  /* line 34, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  /* line 35, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid; } }

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 34, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 38, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 41, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 43, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* line 47, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through; }

/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 51, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 53, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 55, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle; }

/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small; }

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% sans-serif; }

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* line 15, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
body, select, input, textarea {
  color: #444444; }

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll; }

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
a, a:active, a:visited {
  color: #607890; }

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover {
  color: #003366; }

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em; }

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal; }

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
td, td img {
  vertical-align: top; }

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em; }

/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em; }

/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto; }

/* line 62, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none; }

/* line 67, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  padding: 15px; }

/* line 76, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom; }

/* line 77, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom; }

/* line 78, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

/* line 79, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom; }

/* line 84, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* line 89, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  margin: 0; }

/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none; }

/* line 97, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none; }

/* line 102, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99; }

/* line 113, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible; }

/* line 117, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* line 119, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* line 124, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

/* line 10, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat; }

/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden; }

/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1; }
  /* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

/* From http://www.1kbgrid.com/ */
/* line 34, ../../app/stylesheets/partials/_grid.sass */
.row {
  width: 960px;
  margin: 0 auto;
  overflow: hidden; }

/* line 37, ../../app/stylesheets/partials/_grid.sass */
.row .row {
  margin: 0 -10px;
  width: auto;
  display: inline-block; }

/* line 43, ../../app/stylesheets/partials/_grid.sass */
.non_semantic_12col {
  margin: 0 10px;
  overflow: hidden;
  float: left;
  display: inline;
  width: 940px; }

/* line 46, ../../app/stylesheets/partials/_grid.sass */
.non_semantic_8col {
  margin: 0 10px;
  overflow: hidden;
  float: left;
  display: inline;
  width: 620px; }

/* line 49, ../../app/stylesheets/partials/_grid.sass */
.non_semantic_4col {
  margin: 0 10px;
  overflow: hidden;
  float: left;
  display: inline;
  width: 300px; }

/* line 52, ../../app/stylesheets/partials/_grid.sass */
.non_semantic_4col_tall {
  margin: 0 10px;
  overflow: hidden;
  float: left;
  display: inline;
  width: 300px; }
  /* line 54, ../../app/stylesheets/partials/_grid.sass */
  .non_semantic_4col_tall p {
    line-height: 170px; }

/* line 7, ../../app/stylesheets/partials/_page.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/* line 10, ../../app/stylesheets/partials/_page.sass */
h1 {
  font-size: 185%; }

/* line 13, ../../app/stylesheets/partials/_page.sass */
h2 {
  font-size: 154%; }

/* line 16, ../../app/stylesheets/partials/_page.sass */
h3 {
  font-size: 139%; }

/* line 19, ../../app/stylesheets/partials/_page.sass */
h4 {
  font-size: 116%; }

/* line 22, ../../app/stylesheets/partials/_page.sass */
strong, th {
  font-weight: bold; }

/* line 25, ../../app/stylesheets/partials/_page.sass */
small {
  font-size: 85%; }

/* line 34, ../../app/stylesheets/partials/_page.sass */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0 0 5px 0;
  -webkit-box-shadow: red 0 0 5px 0;
  -o-box-shadow: red 0 0 5px 0;
  box-shadow: red 0 0 5px 0; }

/* line 38, ../../app/stylesheets/partials/_page.sass */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* line 46, ../../app/stylesheets/partials/_page.sass */
body {
  background-color: white; }

/* line 51, ../../app/stylesheets/partials/_page.sass */
header#header {
  background-color: #cdd9e2;
  border-bottom: 1px solid #4f708b;
  color: #444444;
  padding: 15px 0; }
  /* line 56, ../../app/stylesheets/partials/_page.sass */
  header#header .title {
    margin: 0 10px;
    overflow: hidden;
    float: left;
    display: inline;
    width: 700px; }
    /* line 58, ../../app/stylesheets/partials/_page.sass */
    header#header .title h1 {
      font-size: 247%; }
  /* line 60, ../../app/stylesheets/partials/_page.sass */
  header#header .logo {
    margin: 0 10px;
    overflow: hidden;
    float: left;
    display: inline;
    width: 220px; }

/* line 63, ../../app/stylesheets/partials/_page.sass */
nav#nav {
  background-color: #456989;
  border-top: 1px solid #87abc8;
  border-bottom: 1px solid #e0e8f0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #7599b9), color-stop(100%, #456989));
  background-image: -moz-linear-gradient(top, #7599b9 0%, #456989 100%);
  background-image: linear-gradient(top, #7599b9 0%, #456989 100%);
  color: white;
  padding: 10px 0; }
  /* line 70, ../../app/stylesheets/partials/_page.sass */
  nav#nav .menu {
    margin: 0 10px;
    overflow: hidden;
    float: left;
    display: inline;
    width: 700px; }
  /* line 72, ../../app/stylesheets/partials/_page.sass */
  nav#nav .search {
    margin: 0 10px;
    overflow: hidden;
    float: left;
    display: inline;
    width: 220px;
    text-align: right; }

/* line 76, ../../app/stylesheets/partials/_page.sass */
div#main {
  background-color: white;
  color: #444444;
  border-top: 1px solid #c0d0e0;
  padding: 15px 0; }
  /* line 81, ../../app/stylesheets/partials/_page.sass */
  div#main div.content {
    margin: 0 10px;
    overflow: hidden;
    float: left;
    display: inline;
    width: 940px; }
  /* line 83, ../../app/stylesheets/partials/_page.sass */
  div#main div.main {
    margin: 0 10px;
    overflow: hidden;
    float: left;
    display: inline;
    width: 700px; }
  /* line 85, ../../app/stylesheets/partials/_page.sass */
  div#main div.aside {
    margin: 0 10px;
    overflow: hidden;
    float: left;
    display: inline;
    width: 220px; }

/* line 88, ../../app/stylesheets/partials/_page.sass */
footer#footer {
  border-top: 1px solid #b2b9bf;
  border-bottom: 1px solid #c2c9cf;
  background-color: #d0d9e0;
  color: #333333;
  padding: 20px 0; }
  /* line 94, ../../app/stylesheets/partials/_page.sass */
  footer#footer .copyright {
    margin: 0 10px;
    overflow: hidden;
    float: left;
    display: inline;
    width: 140px;
    margin-left: 810px; }
    /* line 97, ../../app/stylesheets/partials/_page.sass */
    footer#footer .copyright p {
      font-size: 77%; }

@media print {
  /* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  /* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group; }

  /* line 32, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  /* line 34, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  /* line 35, ../../../../../.rvm/gems/ruby-1.9.2-p0@exceptioner-server/gems/html5-boilerplate-0.3.0/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid; } }

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
/* line 3, ../../app/stylesheets/partials/_buttons.sass */
.buttons {
  margin: 1em 0;
  /* gray */
  /* white */
  /* blue */
  /* rosy */
  /* green */ }
  /* line 5, ../../app/stylesheets/partials/_buttons.sass */
  .buttons button, .buttons a.button {
    display: inline-block;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 13px/100% Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.45em;
    padding: 0.4em 1.5em 0.42em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
    /* line 24, ../../app/stylesheets/partials/_buttons.sass */
    .buttons button:hover, .buttons a.button:hover {
      text-decoration: none; }
    /* line 26, ../../app/stylesheets/partials/_buttons.sass */
    .buttons button:active, .buttons a.button:active {
      position: relative;
      top: 1px; }
  /* line 30, ../../app/stylesheets/partials/_buttons.sass */
  .buttons .bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em; }
  /* line 34, ../../app/stylesheets/partials/_buttons.sass */
  .buttons .large {
    font-size: 14px;
    padding: 0.5em 2em 0.55em; }
  /* line 37, ../../app/stylesheets/partials/_buttons.sass */
  .buttons .medium {
    font-size: 12px;
    padding: 0.4em 1.5em 0.42em; }
  /* line 40, ../../app/stylesheets/partials/_buttons.sass */
  .buttons .small {
    font-size: 11px;
    padding: 0.2em 1em 0.275em; }
  /* line 46, ../../app/stylesheets/partials/_buttons.sass */
  .buttons .neutral {
    color: #e9e9e9;
    border: solid 1px #555555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#575757));
    background: -moz-linear-gradient(top, #888888, #575757);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757'); }
    /* line 53, ../../app/stylesheets/partials/_buttons.sass */
    .buttons .neutral:hover {
      background: #616161;
      background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
      background: -moz-linear-gradient(top, #757575, #4b4b4b);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b'); }
    /* line 58, ../../app/stylesheets/partials/_buttons.sass */
    .buttons .neutral:active {
      color: #afafaf;
      background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888888));
      background: -moz-linear-gradient(top, #575757, #888888);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888'); }
  /* line 66, ../../app/stylesheets/partials/_buttons.sass */
  .buttons .white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
    background: -moz-linear-gradient(top, white, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); }
    /* line 73, ../../app/stylesheets/partials/_buttons.sass */
    .buttons .white:hover {
      background: #ededed;
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dcdcdc));
      background: -moz-linear-gradient(top, white, #dcdcdc);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc'); }
    /* line 78, ../../app/stylesheets/partials/_buttons.sass */
    .buttons .white:active {
      color: #999999;
      background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(white));
      background: -moz-linear-gradient(top, #ededed, white);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff'); }
  /* line 86, ../../app/stylesheets/partials/_buttons.sass */
  .buttons .normal {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5'); }
    /* line 93, ../../app/stylesheets/partials/_buttons.sass */
    .buttons .normal:hover {
      background: #007ead;
      background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
      background: -moz-linear-gradient(top, #0095cc, #00678e);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e'); }
    /* line 98, ../../app/stylesheets/partials/_buttons.sass */
    .buttons .normal:active {
      color: #80bed6;
      background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
      background: -moz-linear-gradient(top, #0078a5, #00adee);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee'); }
  /* line 106, ../../app/stylesheets/partials/_buttons.sass */
  .buttons .warning {
    color: #fae7e9;
    border: solid 1px #b73948;
    background: #da5867;
    background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
    background: -moz-linear-gradient(top, #f16c7c, #bf404f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f'); }
    /* line 113, ../../app/stylesheets/partials/_buttons.sass */
    .buttons .warning:hover {
      background: #ba4b58;
      background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
      background: -moz-linear-gradient(top, #cf5d6a, #a53845);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845'); }
    /* line 118, ../../app/stylesheets/partials/_buttons.sass */
    .buttons .warning:active {
      color: #dca4ab;
      background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
      background: -moz-linear-gradient(top, #bf404f, #f16c7c);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c'); }
  /* line 126, ../../app/stylesheets/partials/_buttons.sass */
  .buttons .positive {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e'); }
    /* line 133, ../../app/stylesheets/partials/_buttons.sass */
    .buttons .positive:hover {
      background: #538018;
      background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
      background: -moz-linear-gradient(top, #6b9d28, #436b0c);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c'); }
    /* line 138, ../../app/stylesheets/partials/_buttons.sass */
    .buttons .positive:active {
      color: #a9c08c;
      background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
      background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f'); }

/* line 8, ../../app/stylesheets/partials/_flashes.sass */
#flash {
  margin: 0 10px;
  overflow: hidden;
  float: left;
  display: inline;
  width: 620px;
  margin-left: 170px;
  margin-right: 170px; }
  /* line 13, ../../app/stylesheets/partials/_flashes.sass */
  #flash .notice, #flash .alert {
    border: 1px solid;
    margin: 0 0 20px 0;
    padding: 15px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px; }
  /* line 19, ../../app/stylesheets/partials/_flashes.sass */
  #flash .notice {
    color: #355d70;
    border-color: #8ab2c5;
    background-color: #bde5f8;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cef6ff), color-stop(100%, #acd4e7));
    background-image: -moz-linear-gradient(top, #cef6ff 0%, #acd4e7 100%);
    background-image: linear-gradient(top, #cef6ff 0%, #acd4e7 100%); }
  /* line 25, ../../app/stylesheets/partials/_flashes.sass */
  #flash .alert {
    color: #773232;
    border-color: #cc8787;
    background-color: #ffbaba;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffcbcb), color-stop(100%, #eea9a9));
    background-image: -moz-linear-gradient(top, #ffcbcb 0%, #eea9a9 100%);
    background-image: linear-gradient(top, #ffcbcb 0%, #eea9a9 100%); }

/* line 6, ../../app/stylesheets/partials/_forms.sass */
#main form {
  margin-top: 1em; }
  /* line 8, ../../app/stylesheets/partials/_forms.sass */
  #main form fieldset {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid silver;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2efe9));
    background-image: -moz-linear-gradient(top, #ffffff 0%, #f2efe9 100%);
    background-image: linear-gradient(top, #ffffff 0%, #f2efe9 100%); }
  /* line 15, ../../app/stylesheets/partials/_forms.sass */
  #main form legend {
    padding: 0 6px;
    font-weight: bold; }
  /* line 19, ../../app/stylesheets/partials/_forms.sass */
  #main form .form_input {
    margin-bottom: 1em;
    clear: both; }
  /* line 23, ../../app/stylesheets/partials/_forms.sass */
  #main form label {
    display: block;
    font-size: 93%; }
    /* line 26, ../../app/stylesheets/partials/_forms.sass */
    #main form label.multiline {
      width: 35em; }
  /* line 29, ../../app/stylesheets/partials/_forms.sass */
  #main form span.description {
    font-size: 85%; }
    /* line 31, ../../app/stylesheets/partials/_forms.sass */
    #main form span.description.required {
      color: #884444; }
  /* line 34, ../../app/stylesheets/partials/_forms.sass */
  #main form .cancel {
    margin-left: 2em; }
  /* line 38, ../../app/stylesheets/partials/_forms.sass */
  #main form .checkbox_group input {
    height: 1em;
    vertical-align: top; }
  /* line 41, ../../app/stylesheets/partials/_forms.sass */
  #main form .checkbox_group label {
    display: inline;
    margin-left: 4px; }
  /* line 45, ../../app/stylesheets/partials/_forms.sass */
  #main form input {
    border: 1px solid #b5ceff;
    padding: 3px; }
    /* line 48, ../../app/stylesheets/partials/_forms.sass */
    #main form input:focus {
      background-color: #f8f8e8;
      border: 1px solid #d8d800;
      color: black; }
  /* line 53, ../../app/stylesheets/partials/_forms.sass */
  #main form textarea {
    width: 99%;
    height: 16em;
    line-height: 1.2em;
    padding: 4px; }
    /* line 58, ../../app/stylesheets/partials/_forms.sass */
    #main form textarea.tall {
      height: 24em; }
    /* line 60, ../../app/stylesheets/partials/_forms.sass */
    #main form textarea.short {
      height: 8em; }
    /* line 62, ../../app/stylesheets/partials/_forms.sass */
    #main form textarea:focus {
      background-color: #f8f8e0;
      border: 1px solid #d8d800;
      color: black; }

/* line 3, ../../app/stylesheets/partials/_tables.sass */
table.horizontal {
  margin: 20px;
  text-align: left;
  padding: 1em; }
  /* line 7, ../../app/stylesheets/partials/_tables.sass */
  table.horizontal th {
    border-bottom: 2px solid #6678b1;
    font-weight: bold;
    padding: 6px 8px; }
  /* line 11, ../../app/stylesheets/partials/_tables.sass */
  table.horizontal td {
    padding: 6px 8px; }
  /* line 14, ../../app/stylesheets/partials/_tables.sass */
  table.horizontal tbody tr:hover {
    background-color: #e8f0ff; }

/* line 17, ../../app/stylesheets/partials/_tables.sass */
table.vertical {
  margin: 20px;
  text-align: left;
  padding: 1em; }
  /* line 21, ../../app/stylesheets/partials/_tables.sass */
  table.vertical th {
    font-weight: bold;
    padding: 6px 8px; }
  /* line 24, ../../app/stylesheets/partials/_tables.sass */
  table.vertical td {
    padding: 2px 1em;
    border-bottom: 1px solid #f1eee8;
    vertical-align: middle; }
  /* line 28, ../../app/stylesheets/partials/_tables.sass */
  table.vertical td:first-child {
    text-align: right;
    white-space: nowrap;
    background-color: #f0ede7;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px; }
  /* line 35, ../../app/stylesheets/partials/_tables.sass */
  table.vertical tr:last-child {
    border: none; }
  /* line 37, ../../app/stylesheets/partials/_tables.sass */
  table.vertical pre {
    font-family: sans-serif; }
