- if user_signed_in?
  = link_to "Sign out", destroy_user_session_path
  = link_to "My projects", user_projects_path(current_user)
- else
  = link_to "Sign in", new_user_session_path
  = link_to "Sign up", new_user_registration_path

%h3 Home#index
